[user]
	  name = Mark Finkelstein
	  email = finkel.mark@gmail.com
[alias]
    co = checkout
    st = status --short --branch
    br = branch
    ci = commit
    w = whatchanged
    df = diff
    unstage = reset HEAD
    count   = !git shortlog -sn
    l = log --graph --oneline --decorate=short --branches='*'
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short --branches
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    page = true
[core]
    whitespace = trailing-space,space-before-tab
[apply]
    whitespace = fix
